<script type="text/javascript">
  document.observe('dom:loaded', function(){
    scroll_to_bottom('chat_list');
    scroll_to_bottom('roll_list');
    set_focus('chat_content');
  });
</script>

<h1>Triskelion Party <%=h @party.id %></h1>

<div id="chats">
  <h2>Chat</h2>
  <ol id="chat_list" onClick="set_focus('chat_content');return false;">
    <% @party.chats.each do |c| %>
      <%= render c %>
    <% end %>
  </ol>

  <div class="form_container">
    <%= form_for @party.chats.build, :url=>party_chats_path(@party), :remote=>true do |f| %>
      <p>
        <%= f.text_field :content, :id=>"chat_content" %>
        <%= f.submit 'Chat' %>
      </p>
    <% end %>
  </div>
</div>

<div id="rolls">
  <h2>Rolls</h2>
  <ol id="roll_list" onClick="set_focus('roll_content');return false;">
    <% @party.rolls.each do |r| %>
      <%= render r %>
    <% end %>
  </ol>

  <div class="form_container">
    <%= form_for @party.rolls.build, :url=>party_rolls_path(@party), :remote=>true do |f| %>
      <p>
        <%= f.text_field :code, :id => "roll_content"%>
        <%= f.submit 'Roll' %>
      </p>
    <% end %>
  </div>
</div>
