<script type="text/javascript">
  document.observe('dom:loaded', function(){
    set_focus('player_name');
  });
</script>
<h1>Add New Player</h1>
<%= form_for @player, :url=>party_players_path do |f| %>
  <fieldset id="player_form">
    <legend>Player Details</legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name, :id=>"player_name" %>
      </li>
      <li>
        <%= f.label :tripcode %>
        <%= f.text_field :tripcode, :id=>"player_tripcode" %>
      </li>
    </ul>
    <%= f.submit  %>
  </fieldset>
<% end %>
