<%= form_for @player, :url=>party_players_path(@party.id) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :tripcode %>
    <%= f.text_field :tripcode %>
  </p>

  <p>
    <%= f.submit 'Join Chat' %>
  </p>
<% end %>
