<!DOCTYPE html>
<html>
  <head>
    <title>Triskelion</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "base" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="pagewrapper">
      <%= yield %>
    </div>

  </body>
</html>
