<!DOCTYPE html>
<html>
  <head>
    <title>Triskelion</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "base" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script type="text/javascript" src="http://use.typekit.com/imb0vif.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div id="pagewrapper">
      <%= yield %>
    </div>

  </body>
</html>
